<h5>*ngIf</h5>

<div *ngif="cursos.legth> 0">
    lista de cursos aqui
</div>

<div *ngif="cursos.legth == 0">
  Não existem cursos para serem listados.
</div>

<div *ngif="mostrarCursos">
    lista de cursos aqui
</div>

<div *ngif="!mostrarCursos">
    Não existe cursos para serem listados.
</div>

<br>
<button (click)="onMostrarCursos">Mostrar ou esconder cursos</button>

<h5>hidden como alternativa</h5>
<div [hidden]="mostrarCursos">
    lista de cursos aqui
</div>
<div [hidden]="!mostrarCursos">
    Não existe cursos para serem listados.
</div>

<h5>Removendo o * e usando templete</h5>

<div *ngIf="mostrarCursos">
</div>

<template [ngIf] ="mostrarCursos">
    <div>Lista de cursos aqui</div>
</template>

<div template="ngIf mostrarCursos">
    Lista de cursos aqui
</div>